{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Login V1{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'login-css/images/icons/favicon.ico' %}"/>
    <link href="{% static 'login-css/css/vendors.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'login-css/css/style.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login-css/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login-css/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login-css/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login-css/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login-css/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login-css/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login-css/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.8.2/css/all.css' %}" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <!--===============================================================================================-->
</head>
{% block body %}

{% endblock %}