{% extends 'role_panel/partial/dashboard_header.html' %}
{% load static %}
{% block title %}
    تصحیح پروفایل مربی ({{ select_user.name }})
{% endblock %}
<!-- end::Header -->
<!-- begin::Body -->
{% block body %}
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">

        <!-- BEGIN: Left Aside -->

        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">پروفایل</h3>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="m-portlet m-portlet--full-height  ">
                            <div class="m-portlet__body">
                                <div class="m-card-profile">
                                    <div class="m-card-profile__title m--hide">
                                        Your Profile
                                    </div>
                                    <div class="m-card-profile__pic">
                                        <div class="m-card-profile__pic-wrapper">
                                            <img src="{% static 'dashboard-css/assets/app/media/img/users/user4.jpg' %}"
                                                 alt=""/>
                                        </div>
                                    </div>
                                    <div class="m-card-profile__details">
                                        <span class="m-card-profile__name">{{ select_user.name }}</span>
                                        <a href=""
                                           class="m-card-profile__email m-link">{{ select_user.phone_number }}</a>
                                    </div>
                                </div>
                                <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__section m--hide">
                                        <span class="m-nav__section-text">Section</span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="{% url 'Main:students' %}" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                            <span class="m-nav__link-title">
								<span class="m-nav__link-wrap">      
									<span class="m-nav__link-text">لیست شاگردان</span>

							</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="couchprofile.html" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">پروفایل مربی</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="new_gym.html" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">اضافه کردن کلاس</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="index.html" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-graphic-2"></i>
                                            <span class="m-nav__link-text">داشبورد</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="header/profile&amp;demo=default.html" class="m-nav__link">

                                    </li>
                                </ul>

                                <div class="m-portlet__body-separator"></div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        {% if error %}
                            <div class="alert-danger">{{ message }}</div>
                        {% endif %}
                        <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                            <div style="float: right" class="m-portlet__head">
                                <div class="m-portlet__head-tools">
                                    <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                                        role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active" data-toggle="tab"
                                               href="#m_user_profile_tab_1" role="tab">
                                                <i class="flaticon-share m--hide"></i>
                                                اطلاعات شخصی
                                            </a>
                                        </li>

                                        <!--<li class="nav-item m-tabs__item">-->
                                        <!--<a class="nav-link m-tabs__link" data-toggle="tab"-->
                                        <!--href="#m_user_profile_tab_3" role="tab">-->
                                        <!--عوض کردن عکس-->
                                        <!--</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="m_user_profile_tab_1">
                                    <form action="" method="post" class="m-form m-form--fit m-form--label-align-right"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="m-portlet__body">
                                            <div class="form-group m-form__group m--margin-top-10 m--hide">
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <div class="col-10 ml-auto">
                                                    <h3 class="m-form__section">اطلاعات تکمیلی</h3>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">اسم
                                                    کامل</label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text"
                                                           value="{{ select_user.name }}" name="name">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input"
                                                       class="col-2 col-form-label">شغل</label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text"
                                                           value="{{ coach.job }}" name="job">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">اسم
                                                    موسسه</label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text"
                                                           value="{{ coach.department_name }}" name="department_name">

                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label"> کد
                                                    ملی</label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text"
                                                           value="{{ select_user.national_number }}"
                                                           name="national_number">

                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input"
                                                       class="col-2 col-form-label">توضیحات</label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text"
                                                           value="{{ coach.text }}" name="text">

                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">شماره
                                                    تماس</label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text"
                                                           value="{{ select_user.phone_number }}" name="phone_number">
                                                </div>
                                            </div>

                                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

                                            <div class="form-group m-form__group row">
                                                <div class="col-10 ml-auto">
                                                    <h3 class="m-form__section">بارگذاری عکس</h3>
                                                    <div class="container">


                                                        <div class="avatar-upload">
                                                            <div class="avatar-edit">
                                                                <input type="file" id="imageUpload"
                                                                       value="{{ coach.picture.url }}" name="picture"
                                                                       accept=".png, .jpg, .jpeg"/>
                                                                <label for="imageUpload">
                                                                    <i style="text-align: center;font-size: 2.1rem"
                                                                       class="fas fa-upload "></i>
                                                                </label>
                                                            </div>
                                                            <div class="avatar-preview">
                                                                <div id="imagePreview"
                                                                     style="background-image: url({{ coach.picture.url }});">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>


                                        <div class="m-portlet__foot m-portlet__foot--fit">
                                            <div class="m-form__actions">
                                                <div class="row">
                                                    <div class="col-2">
                                                    </div>
                                                    <div class="col-7">
                                                        <button type="submit"
                                                                class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                                                name="save_form">
                                                            ذخیره کردن
                                                        </button>&nbsp;&nbsp;
                                                        <button type="reset"
                                                                class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                            لغو کردن
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane " id="m_user_profile_tab_2">

                                </div>
                                <div class="tab-pane " id="m_user_profile_tab_3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--</div>-->

    </div>
    <!-- end::Body -->


    <!-- begin::Footer -->
    <!-- end::Footer -->


    </div>

    <!-- end:: Page -->

    <!-- begin::Quick Sidebar -->
    <div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
        <div class="m-quick-sidebar__content m--hide">
            <span id="m_quick_sidebar_close" class="m-quick-sidebar__close"><i class="la la-close"></i></span>
            <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger"
                       role="tab">Messages</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_settings" role="tab">Settings</a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_logs"
                       role="tab">Logs</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="m_quick_sidebar_tabs_messenger" role="tabpanel">
                    <div class="m-messenger m-messenger--message-arrow m-messenger--skin-light">

                        <div class="m-messenger__seperator"></div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end::Quick Sidebar -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->            <!-- begin::Quick Nav -->
    <!-- begin::Quick Nav -->
    <!--begin::Base Scripts -->
    <script src="{% static 'dashboard-css/assets/vendors/base/vendors.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static 'dashboard-css/assets/demo/demo2/base/scripts.bundle.js' %}" type="text/javascript"></script>
    <!--end::Base Scripts -->

    <style>
        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 50px auto;
        }

        .avatar-upload .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
        }

        .avatar-upload .avatar-edit input {
            display: none;
        }

        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #FFFFFF;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
        }

        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }

        .avatar-upload .avatar-edit input + label:after {
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;
        }

        .avatar-upload .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        }

        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

    </style>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function () {
            readURL(this);
        });
    </script>
    </body>
    <!-- end::Body -->
    </html>
{% endblock %}