{% extends 'partial/header.html' %}
{% load static %}
{% block title %}
{{ select_gym.name }}
{% endblock %}
{% block link %}
{% include 'partial/index-header.html' %}
{% endblock %}
{% block body %}
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({{ select_gym.picture.url }});"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">


                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-center">
                            <h1>{{ select_gym.name }}</h1>
                            <p class="mb-0">{{ select_gym.address }}</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="mb-4">
                        <div class="slide-one-item home-slider owl-carousel">
                            <div style="height: 200px"><img src="{{ select_gym.picture.url }}" alt="Image" class="img-fluid"></div>
                            <div><img src="{{ select_gym.picture.url }}" alt="Image" class="img-fluid"></div>
                            <div><img src="{{ select_gym.picture.url }}" alt="Image" class="img-fluid"></div>
                            <div><img src="{{ select_gym.picture.url }}" alt="Image" class="img-fluid"></div>
                        </div>
                    </div>
                    <style>
                        .owl-carousel .owl-item img {
                            height: 500px;
                            border-radius: 10px;
                        }
                    </style>
                    <h4 style="text-align: right" class="h5 mb-4 text-black">امکانات این مجموعه</h4>
                    <div class="propertyDesc">

                            <ul>
                                {% for facility in facilities %}
                            {% if facility.gym_id.name == select_gym.name %} {#emkanat salon montakhab#}
                                {%if facility.facility_id.name == 'اجاره توپ' %}
                                    <li><i class="fas fa-futbol"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'سرویس بهداشتی' %}
                                    <li><i class="fas fa-toilet"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'دوش' %}
                                    <li><i class="fas fa-shower"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'پارکینگ اختصاصی' %}
                                    <li><i class="fas fa-parking"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'بوفه' %}
                                    <li><i class="fas fa-utensils"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'کمد' %}
                                    <li><i class="fas fa-door-closed"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'تهویه هوا' %}
                                    <li><i class="fas fa-wind"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'آب سرد کن' %}
                                    <li><i class="fas fa-tint"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'جایگاه تماشاگر' %}
                                    <li><i class="fas fa-users"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}
                                {% if facility.facility_id.name == 'رختکن' %}
                                    <li><i class="fas fa-tshirt"></i><strong>&nbsp;{{ facility.facility_id.name }}</strong></li>
                                {% endif %}


                            {% endif %}

                                {% endfor %}
                            </ul>
                       </div>
                    <section style="text-align: center" class="container">
                        <a style="border-radius: 10px" class="btn btn-success"
                           id="example-modal--label" href="{% url 'Main:reservation' select_gym.slug %}">مشاهده سانس ها <i class="fa fa-male"></i></a>
                    </section>




                </div>

                <div class="col-lg-3 ml-auto">


                    <div class="mb-5">
                    </div>

                    <div style="direction: rtl;text-align: right" class="mb-5">
                        <h3 class="h6 mb-3"><i style="color: #30e3ca" class="fa fa-map"></i>آدرس دقیق مجموعه</h3>
                        <p style="color: #30e3ca">{{ select_gym.address }}</p>
                    </div>
                    <div style="float: right" class="mb-5">

                        <div style="margin-top: 30px;text-align: center">
                            <img src="{% static 'main-css/images/download.jpg' %}" alt="">
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </div>



    <div class="site-section bg-light">

        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 text-center border-primary">
                    <h2 class="font-weight-light text-primary">مجموعه های مشابه</h2>
                </div>
            </div>
            <div class="row mt-5">

                {% for salon in gyms %}
                <div class="col-lg-6">

                    <div class="d-block d-md-flex listing">
                        <a href="{% url 'Main:gym_single' salon.slug %}" class="img d-block"
                           style="background-image: url('{{ salon.picture.url }}')"></a>
                        <div class="lh-content">
                            <span class="category">{{ salon.area_id.city_id.province_id.name }}</span>
                            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                            <h3 style="text-align: right"><a href="{% url 'Main:gym_single' salon.slug %}">{{ salon.name }}</a></h3>
                            <address style="text-align: right">{{ salon.address }}</address>
                            <span style="text-align: right" class="review">{% for name,dic  in counter_comments.items %}{% if name == salon.name %} {{ dic }} نظر {% endif %}{% endfor %}</span>

                            <p style="text-align: right" class="mb-0">

                                <span class="icon-star text-secondary"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                            </p>
                        </div>
                    </div>

                </div>
                {% endfor %}

                </div>
            </div>
        </div>


{% include 'partial/footer.html' %}
</div>

<script src="{% static 'main-css/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'main-css/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'main-css/js/jquery-ui.js' %}"></script>
<script src="{% static 'main-css/js/popper.min.js' %}"></script>
<script src="{% static 'main-css/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main-css/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'main-css/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'main-css/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'main-css/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'main-css/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'main-css/js/aos.js' %}"></script>
<script src="{% static 'main-css/js/rangeslider.min.js' %}"></script>

<script src="{% static 'main-css/js/main.js' %}"></script>

</body>
</html>
{% endblock %}