{% extends 'partial/header.html' %}
{% load static %}
{% block title %}
    سالن یاب
{% endblock %}
{% block link %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main-css/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'main-css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/owl.theme.default.min.css' %}">
    <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'main-css/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'main-css/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'main-css/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/rangeslider.css' %}">

    <link rel="stylesheet" href="{% static 'main-css/css/style.css' %}">
    <!--   for owl slider amin -->
    <!-- Owl Stylesheets -->
    <link rel="stylesheet"
          href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
{% endblock %}
{% block body %}
    <div class="site-blocks-cover overlay" style="background-image: url({% static 'pictures/main.jpg' %});"
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-12">


                    <div class="row justify-content-center mb-4">
                        <div class="col-md-8 text-center">
                            <h1 class="mtn" data-aos="fade-up">سایت سالن یاب معتبر ترین سایت رزرو سالن
                            </h1>
                            <p data-aos="fade-up" data-aos-delay="100">به ما اعتماد کنید</p>
                        </div>
                    </div>

                    <div class="form-search-wrap" data-aos="fade-up" data-aos-delay="200">
                        <form action="{% url 'Main:gym_list' %}" method="get">
                            {% csrf_token %}
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-xl-2 ml-auto text-right">
                                    <input type="submit" value="جستجو کنید" name="search_gym"
                                           class="btn btn-primary btn-block rounded">
                                </div>
                                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                                    <div class="select-wrap">
                                        <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                        <select class="form-control rounded" name="sex" id="">
                                            <option style="text-align: right;direction: rtl" value="">جنسیت</option>
                                            <option style="text-align: right;direction: rtl" value="مرد"><i
                                                    class="icon icon-male">مرد</i></option>
                                            <option style="text-align: right;direction: rtl" value="زن"><i
                                                    class="icon icon-male">زن</i></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                                    <div class="select-wrap">
                                        <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                        <select class="form-control rounded" name="category" id="">
                                            <option value="">همه دسته ها</option>
                                            {% for category in categories %}
                                                <option value="{{ category.name }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                                    <div class="select-wrap">
                                        <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                        <select class="form-control rounded" name="area" id="">
                                            <option style="text-align: right;direction: rtl" value="">منطقه</option>
                                            {% for area in areas %}
                                                <option style="text-align: right;direction: rtl"
                                                        value="{{ area.name }}">{{ area.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                                    <div class="select-wrap">
                                        <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                        <select style="direction: rtl" name="city"  class="form-control rounded" id="Shahrestan" runat="server" >
                                            <option selected disabled value="">شهرستان ها</option>
                                        </select>

                                    </div>
                                </div>
                                <div style="height: 45px" class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                                    <div class="select-wrap">
                                        <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                        <form id="form1" name="FRM" runat="server" >




                                                <select name="province" style="direction: rtl" class="form-control rounded" id="Ostan" runat="server" onchange="Func(this.value)">

                                                    <option selected disabled value="">استان ها</option>
                                                    {% for province in provinces %}
                                                    <option value="{% for city in cities %}{% if city.province_id.id == province.id %}{{ city.name }},{% endif %}{% endfor %}">{{ province.name }}</option>
                                                    {% endfor %}

                                                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                &nbsp;

                                        </form>
                                    </div>
                                </div>
                                <script>
                                    function Func(Shahrestanha) {
                                        var _Shahrestan = document.getElementById("Shahrestan");
                                        _Shahrestan.options.length = 0;
                                        if(Shahrestanha != "") {
                                            var arr = Shahrestanha.split(",");
                                            for(i = 0; i < arr.length; i++) {
                                                if(arr[i] != "") {
                                                    _Shahrestan.options[_Shahrestan.options.length]=new Option(arr[i],arr[i]);
                                                }
                                            }
                                        }
                                    }
                                </script>


                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light">
        <div class="container">

            <div class="overlap-category mb-5">
                <div class="row align-items-stretch no-gutters">
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                        <a href="{% url 'Main:gym_list' %}" class="popular-category h-100">
                            <span class="icon"><span class="fas fa-hotel"></span></span>
                            <span class="caption mb-2 d-block">سالن ورزش</span>
                            <span class="number">{{ gyms_count }}</span>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                        <a href="{% url 'Main:select_category' 'تنیس' %}" class="popular-category h-100">
                            <span class="icon"><span class="fas fa-table-tennis"></span></span>
                            <span class="caption mb-2 d-block">زمين تنيس</span>
                            <span class="number">{{ tenis }}</span>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                        <a href="{% url 'Main:select_category' 'والیبال' %}" class="popular-category h-100">
                            <span class="icon"><span class="fas fa-volleyball-ball"></span></span>
                            <span class="caption mb-2 d-block">واليبال</span>
                            <span class="number">{{ volybal }}</span>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                        <a href="{% url 'Main:select_category' 'فوتسال' %}" class="popular-category h-100">
                            <span class="icon"><span class="fas fa-futbol"></span></span>
                            <span class="caption mb-2 d-block">فوتسال</span>
                            <span class="number">{{ footsal }}</span>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                        <a href="{% url 'Main:select_category' 'فوتبال' %}" class="popular-category h-100">
                            <span class="icon"><span class="far fa-futbol"></span></span>
                            <span class="caption mb-2 d-block">فوتبال</span>
                            <span class="number">{{ footbal }}</span>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                        <a href="{% url 'Main:select_category' 'بسکتبال' %}" class="popular-category h-100">
                            <span class="icon"><span class="fas fa-basketball-ball"></span></span>
                            <span class="caption mb-2 d-block">بسکتبال</span>
                            <span class="number">{{ bascketbal }}</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="site-section" data-aos="fade">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary">سالن های معروف</h2>
                    <p class="color-black-opacity-5">در سراسر کشور</p>
                </div>
            </div>

            <div class="row">
                {% for salon in gyms %}
                    {% if salon.famous == 'Number_two' %}
                        <div class="col-md-6 mb-4 mb-lg-4 col-lg-4">

                            <div class="listing-item">
                                <div class="listing-image">
                                    <img style="width: 349.99px;height: 233.33px" src="{{ salon.picture.url }}" alt="{{ salon.name }}" class="img-fluid">
                                </div>
                                <div class="listing-item-content">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" hidden value="{{ salon.id }}" name="fav">

                                    <button class="bookmark" type="submit" name="favorite"><span {% for favorite in favorites %}{% if salon.id == favorite.gym_id.id %} style="color:darkred" class="icon-heart"{% endif %}{% endfor %} {% for favorite in favorites %}{% if salon.id != favorite.gym_id.id %} style="color:navajowhite" class="icon-heart"{% endif %}{% endfor %}></span>
                                    </button>
                                </form>
                                    <a class="px-3 mb-3 category"
                                       href="{% url 'Main:gym_single' salon.slug %}">{{ salon.address }}</a>
                                    <h2 style="text-align: center" class="mb-1"><a
                                            href="{% url 'Main:gym_single' salon.slug %}">{{ salon.name }}</a></h2>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for salon in gyms %}
                    {% if salon.famous == 'Number_one' %}


                        <div class="col-md-6 mb-4 mb-lg-4 col-lg-6">

                            <div class="listing-item">
                                <div class="listing-image">
                                    <img style="width: 540px;height: 337.5px" src="{{ salon.picture.url }}" alt="Image" class="img-fluid">
                                </div>
                                <div class="listing-item-content">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" hidden value="{{ salon.id }}" name="fav">

                                    <button class="bookmark" type="submit" name="favorite"><span {% for favorite in favorites %}{% if salon.id == favorite.gym_id.id %} style="color:darkred" class="icon-heart"{% endif %}{% endfor %} {% for favorite in favorites %}{% if salon.id != favorite.gym_id.id %} style="color:navajowhite" class="icon-heart"{% endif %}{% endfor %}></span>
                                    </button>
                                </form>
                                    <a class="px-3 mb-3 category"
                                       href="{% url 'Main:gym_single' salon.slug %}">{{ salon.address }}</a>
                                    <h2 style="text-align: center" class="mb-1"><a
                                            href="{% url 'Main:gym_single' salon.slug %}">{{ salon.name }}</a></h2>
                                    <span style="float: right;margin-right: 86px"
                                          class="address">{{ salon.description }}</span>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary">مجموعه های ورزشی</h2>
                </div>
            </div>
            <div style="direction: rtl" class="row mt-5">
                {% for salon in gyms %}
                    <div class="col-lg-6">

                        <div class="d-block d-md-flex listing">
                            <a href="{% url 'Main:gym_single' salon.slug %}" class="img d-block"
                               style="background-image: url('{{ salon.picture.url }}');height: 230px;width: 192.7px"></a>
                            <div class="lh-content">
                                <span class="category">{{ salon.area_id.name }}</span>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" hidden value="{{ salon.id }}" name="fav">

                                    <button class="bookmark" type="submit" name="favorite"><span {% for favorite in favorites %}{% if salon.id == favorite.gym_id.id %} style="color:darkred" class="icon-heart"{% endif %}{% endfor %} {% for favorite in favorites %}{% if salon.id != favorite.gym_id.id %} style="color:navajowhite" class="icon-heart"{% endif %}{% endfor %} ></span>
                                    </button>
                                </form>
                                <h3 style="text-align: right"><a
                                        href="{% url 'Main:gym_single' salon.slug %}">{{ salon.name }}</a></h3>
                                <address style="text-align: right">{{ salon.address }}</address>
                                <span style="text-align: right"
                                      class="review">{% for name,dic  in counter_comments.items %}
                                    {% if name == salon.name %} {{ dic }} نظر {% endif %}{% endfor %}</span>

                                <p style="text-align: right" class="mb-0">

                                    <span class="icon-star text-secondary"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                </p>
                            </div>
                        </div>


                    </div>
                {% endfor %}


            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">کلاس های آموزشی</h2>
            </div>

        </div>

        {% if training_classes_count %}
            <div class="owl-carousel">

                {% for training_class in training_classes %}

                    <div class="item">
                        <a href="{% url 'Main:training_single' training_class.slug %}">
                            <img width="270px" height="192.85px" src="{{ training_class.picture.url }}" alt="{{ training_class.name }}">
                            <div class="text" style="padding:5px;background-color:#ebffe4;direction:rtl;text-align: right; width: 100%" >
                                <div class="text" >{{ training_class.coach_id.user_id.name }}<br> <span>{{ training_class.gym_id.name }}</span></div>
                                {{ training_class.text }}
                            </div>
                        </a>

                    </div>
                {% endfor %}

            </div>
        {% endif %}
        <br>
    </div>

        <script>$('.owl-carousel').owlCarousel({
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            loop: true,
            margin: 50,
            responsiveClass: true,
            nav: true,
            loop: true,
            stagePadding: 100,
            responsive: {
                0: {
                    items: 1
                },
                568: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
        $(document).ready(function () {
            $('.popup-youtube').magnificPopup({
                disableOn: 320,
                type: 'iframe',
                mainClass: 'mfp-fade',
                removalDelay: 160,
                preloader: false,
                fixedContentPos: true
            });
        });
        $('.item').magnificPopup({
            delegate: 'a',
        });</script>


        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary">استخر ها</h2>
                </div>

            </div>
            <div style="direction: rtl" class="row mt-5">
                <div class="col-lg-6">
                    {% for pool in pools %}
                        <div class="d-block d-md-flex listing">
                            <a href="listings-single.html" class="img d-block"
                               style="background-image: url({{ pool.picture.url }})"></a>
                            <div class="lh-content">
                                <span class="category">مشهد</span>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="text" hidden value="{{ pool.id }}" name="fav">

                                    <button class="bookmark" type="submit" name="favorite"><span {% for favorite in favorites %}{% if pool.id == favorite.gym_id.id %} style="color:darkred" class="icon-heart"{% endif %}{% endfor %} {% for favorite in favorites %}{% if pool.id != favorite.gym_id.id %} style="color:navajowhite" class="icon-heart"{% endif %}{% endfor %}></span>
                                    </button>
                                </form>
                                <h3 style="text-align: right"><a href="listings-single.html">سالن فرهیختگان</a></h3>
                                <address style="text-align: right">مشهد خیابان فلان کوچه بهمان</address>
                                <span style="text-align: right" class="review">(3 نظر)</span>

                                <p style="text-align: right" class="mb-0">

                                    <span class="icon-star text-secondary"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>






    {% include 'partial/footer.html' %}

    <script src="{% static 'main-css/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main-css/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'main-css/js/jquery-ui.js' %}"></script>
    <script src="{% static 'main-css/js/popper.min.js' %}"></script>
    <script src="{% static 'main-css/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main-css/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main-css/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'main-css/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'main-css/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'main-css/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'main-css/js/aos.js' %}"></script>
    <script src="{% static 'main-css/js/rangeslider.min.js' %}"></script>

    <script src="{% static 'main-css/js/main.js' %}"></script>


{% endblock %}
