{% load static %}
    <footer style="direction: rtl" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div style="text-align: right;float: right" class="col-md-6">
                            <h2 class="footer-heading mb-4">درباره ما</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident rerum unde possimus
                                molestias dolorem fuga, illo quis fugiat!</p>
                        </div>

                        <div class="col-md-3">
                            <h2 style="text-align: right;" class="footer-heading mb-4">منو</h2>
                            <ul class="list-unstyled">
                                <li style="text-align: right"><a href="#">درباره ما</a></li>
                                <li style="text-align: right"><a href="#">تماس با ما</a></li>
                                <li style="text-align: right"><a href="#">تمامی سالن ها</a></li>

                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 style="text-align: right" class="footer-heading mb-4">مارادنبال کنید</h2>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div class="col-md-3">
                    <form action="{% url 'Main:gym_list' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent"
                                   placeholder="جستجو سالن ..." aria-label="" aria-describedby="button-addon2" name="name">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="submit" id="button-addon2" name="gym_name">جستجو
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            تمامی حقوق این سایت<i class="icon-heart" aria-hidden="true"></i> زیر نظر <a href="#"
                                                                                                        target="_blank">سالن
                            یاب</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>