{% load static %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main-css/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'main-css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/owl.theme.default.min.css' %}">
    <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'main-css/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'main-css/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'main-css/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'main-css/css/rangeslider.css' %}">

    <link rel="stylesheet" href="{% static 'main-css/css/style.css' %}">